.container {
    border: 3px solid #FFE6F7;
    border-radius: 1rem;
}

.container li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
}

.container ul {
    margin: 0;
    padding: 0;
}

.buttonsContainer {
    display: flex;
    margin-bottom: 1rem;
    /* justify-content: space-around; */
    align-items: baseline;
}

.buttons>* {
    cursor: pointer;
    margin-left: 0.5rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    text-align: center;
    margin-left: 1rem;
}

.button p {
    margin: 0;
    padding: 0;
}

.error {
    color: red;
}