.container {
    border: 3px solid #FFE6F7;
    border-radius: 1rem;
}

.container li {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;
}

.container ul {
    margin: 0;
    padding: 0;
}

.container span {
    display: block;
    font-weight: 800;
}